body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    font-size: 13px;
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.media-body{
    padding-top: 10px;
}
.comment{
    margin: 10px 0;
}
.comment-sp{
    margin-top: 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #2b669a;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn{
    margin-top: 15px;
}
.sub-comments .placeholder{
    margin-top: 10px;
}
.question-related{
    padding-left: 20px;
}
.publish-tag{
    margin-right: 5px;
}
.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}